<p class="lead"><%=@post.title %></p>

<%= render 'shared/errors', obj: @comment %>

<%= form_for @comment, url: post_comments_path(@post) do |f| %>
<%= f.label :body %>
<%= f.text_area :body %>
<br/>
<%= f.submit "Create Comment", class: 'btn' %>

<% end %>

<strong>Comments: </strong>

<ul>
<% @post.comments.each do |comment|  %>
<li><%= comment.body  %></li>

<% end %>
</ul>